numpy==1.18.3
scipy==1.4.1
matplotlib==3.2.1
pandas==1.0.3
bokeh==2.1.0
scikit-learn==0.22.1
dask==2.18.1
sympy
pymc3
networkx
statsmodels
fbprophet
shapely
scikit-image
nashpy
pint
uncertainties
netCDF4
xarray
geopandas
geoplot
papermill
cerberus
faust
cython
